@media (min-width:1440px) {
    html {
        font-size: 25px;
    }
}

@media (max-width:900px) {
    .cartao {
        width: 80%;
    }
}

@media (max-width:600px) {
    html {
        font-size: 14px;
    }

    .linha-divisoria {
        width: 85%;
    }

    .cartao {
        padding: 0 15px;
        width: 80%;
    }

    .botao {
        bottom: -20px;
    }

    .botao img {
        width: 20px;
    }
}

@media (max-width:475px){
    .cartao {
        padding: 20px 0;
        
        width: 95%;
    }

    .botao {
        bottom: -15px;
    }

    .botao img {
        width: 15px;
    }
}